---
layout: about
---
<div class="sections-wrapper col-lg-9 col-md-8 col-sm-12">
    <div class="row">
        <div class="primary col-lg-8 col-md-7 col-sm-12 col-xs-12">
            {% include cards/about-me.html %}
            {% include cards/work-experience.html %}
            {% include cards/github.html %}
        </div>
        <div class="secondary col-lg-4 col-md-5 col-sm-12 col-xs-12">
            {% include cards/contacts.html %}
            {% include cards/skills.html %}
            {% include cards/testimonials.html %}
            {% include cards/education.html %}
            {% include cards/languages.html %}
        </div>
    </div>
</div>
