<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>{{ site.data.cards.contacts.location }}</li>
                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:{{ site.data.cards.contacts.email }}">{{ site.data.cards.contacts.email }}</a></li>
                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">{{ site.data.cards.contacts.website }}</a></li>
            </ul>
        </div>
    </div>
</aside>
