<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/github-activity/src/mustache.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/github-activity/src/github-activity.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/cards/github.js"></script>

<section class="github section">
    <div class="section-inner">
        <h2 class="heading">My GitHub</h2>
        <div id="github-graph" class="github-graph"></div>
        <div id="ghfeed" class="ghfeed"></div>
    </div>
</section>
