<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{ site.description }}">
<title>{{ site.title }}</title>
<link rel="icon" type="image/x-icon" href="{{ site.baseurl l}}/favicon.ico">
<link rel="shortcut icon" href="{{ site.baseurl l}}/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl l}}/assets/css/styles.css">
<meta name="author" content="{{ site.author }}">
