<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/github-activity/src/mustache.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/github-activity/src/github-activity.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/sidebar.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/cards/github.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/cards/skills.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/index.js"></script>
