<script type="text/javascript" src="{{ site.baseurl }}/assets/js/sidebar.js"></script>

<div class="heading-wrapper heading-wrapper-open col-lg-3 col-md-4 col-sm-12">
    <div class="heading-content row">
        <img class="profile-image img-responsive" src="{{ site.baseUrl }}/{{ site.data.sidebar.profile-image }}" alt="Maxim"/>
        <h1 class="profile-description-title">Hey, I'm {{ site.data.sidebar.shortname }},</h1>
        <h4 class="profile-description">a <span class="job-title">{{ site.data.sidebar.ocupation }}</span> working in Moldova at {{ site.data.sidebar.company }}</h4>
        <a class="contact-me-btn row" href="{{ site.baseurl }}/{{ layout.buttonUrl }}">{{ layout.buttonName }}</a>
        <div class="contacts">
            <ul class="social list-inline">
                {% for item in site.data.accounts %}
                    <li><a href="{{ item[1].url }}"><i class="fa {{ item[1].icon }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>

        <a class="ping-pong-button row" href="{{ site.baseurl }}/ping-pong.html">
            <img src="{{ site.baseUrl }}/assets/images/data/side-bar/ping-pong-racket.gif" alt="HTML tutorial" style="width:100px;height:80px;"/>
        </a>
    </div>
</div>
