---
layout: default
buttonName: "Blog"
buttonUrl: "blog.html"
comments: true 
---
<div class="sections-wrapper col-lg-9 col-md-8 col-sm-12 post-wrapper">
    <div class="row">
        <div class="primary col-xs-12 post-content-wrapper">
                <h1 class="blog-title">{{ page.title }}</h1>
                <div class="post-info">
                    <span class="post-date">{{ page.date | date_to_string }} <span class="middotDivider"></span> {% include reading-time.html %}</span>
                </div>
                {{ content }}
                {% if page.comments %} {% include disqus.html %} {% endif %}
        </div>
    </div>
</div>
