body
	background: white
	overflow: hidden

.content-container
	height: 100%
	width: 100%
	position: absolute

::-webkit-scrollbar 
	width: 0px
	background: transparent
	display: none

::-webkit-scrollbar-thumb 
	background: #FF0000
	display: none